<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YouTube</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="header__logo">
                    <a href="#">
                        <img src="static/img/header/hamburger.png" alt="navigation button" class="header__hamburger-logo">
                    </a>
                    <a href="#">
                        <img src="static/img/header/yt-logo.png" alt="YouTube logo" class="header__yt-logo">
                    </a>
                </div>
                <div class="search">
                    <form action="http://localhost:5000/" method="POST">
                        <!-- <input type="text" name="query" id="search__input" placeholder="Search"> -->
                       <div style="display: flex;">
                        <select name="query" id="search__input" style="width: 40vw;">
                            <option value="GCT" selected="selected">Make a choice</option>
                            <option value="GCT">GCT</option>
                            <option value="Gate">GATE</option>
                            <option value="BE">BE CSE</option>
                          </select>
                        <!-- <button type="submit">
                            <img src="static/img/header/search.png" alt="Search Icon" class="search__icon">
                        </button> -->
                        
                        <!-- <input type="submit"> -->
  <button id="search__input"  style="width: 10vw;">Search</button>
                    </div>
                  
                    </form>
                </div>
                <div class="header__icons header__logo">
                    <a href="#">
                        <img src="static/img/header/grid.png" alt="grid icon" class="header__icons--grid">
                    </a>
                    <a href="#">
                        <img src="static/img/header/upload.png" alt="grid icon" class="header__icons--upload">
                    </a>
                    <a href="#">
                        <img src="static/img/header/bell.png" alt="grid icon" class="header__icons--bell">
                    </a>
                    <a href="#">
                        <img src="static/img/header/profile-placeholder.png" alt="grid icon" class="header__icons--profile">
                    </a>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="left"></div>
                <main>
                    <div class="main__video">
                    
                    {% for dict_item in result %}
                    
                            <div class="main__video-container">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{dict_item['url']}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="main__description">
                                <p>{{dict_item['title']}}</p>
                                <p>290,399 views</p>
                                
                            </div>
                            <br><br>
                            <div class="overflow" >
                                <img src="/plot{{loop.index}}.png" alt="my plot">
                            </div>
                            <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                  <tr>
                                    <th scope="col">Extremely Happy</th>
                                    <th scope="col">Happy</th>
                                    <th scope="col">Netural</th>
                                    <th scope="col">Sad</th>
                                    <th scope="col">Anger</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">{{dict_item["counts"][0]}}%</th>
                                    <td>{{dict_item["counts"][1]}}%</td>
                                    <td>{{dict_item["counts"][2]}}%</td>
                                    <td>{{dict_item["counts"][3]}}%</td>
                                    <td>{{dict_item["counts"][4]}}%</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="main__more">
                            </div>
                        
                    <br><br>
                    {% endfor %}
                </div>
            </main>

                    

            </div>
        </div>
    </body>
</html>